<div class="row">
	<div class="col-md-2">
		<h2>Heading</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac risus in velit rhoncus condimentum id vitae lectus. Aenean lacinia tempus ante sit amet volutpat.</p>
		<p><a href="#" class="btn btn-primary btn-lg">Read More</a></p>
	</div>
	<div class="col-md-2">
		<h2>Heading</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac risus in velit rhoncus condimentum id vitae lectus. Aenean lacinia tempus ante sit amet volutpat.</p>
		<p><a href="#" class="btn btn-primary btn-lg">Read More</a></p>
	</div>
	<div class="col-md-2">
		<h2>Heading</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac risus in velit rhoncus condimentum id vitae lectus. Aenean lacinia tempus ante sit amet volutpat.</p>
		<p><a href="#" class="btn btn-primary btn-lg">Read More</a></p>
	</div>
	<div class="col-md-2">
		<h2>Heading</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac risus in velit rhoncus condimentum id vitae lectus. Aenean lacinia tempus ante sit amet volutpat.</p>
		<p><a href="#" class="btn btn-primary btn-lg">Read More</a></p>
	</div>
	<div class="col-md-2">
		<h2>Heading</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac risus in velit rhoncus condimentum id vitae lectus. Aenean lacinia tempus ante sit amet volutpat.</p>
		<p><a href="#" class="btn btn-primary btn-lg">Read More</a></p>
	</div>
	<div class="col-md-2">
		<h2>Heading</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac risus in velit rhoncus condimentum id vitae lectus. Aenean lacinia tempus ante sit amet volutpat.</p>
		<p><a href="#" class="btn btn-primary btn-lg">Read More</a></p>
	</div>					
</div>